<div class="page-header">
  <%= link_to routing_lists_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Show routing_list</h1>
</div>

<dl class="dl-horizontal">
  <dt>Delivery date:</dt>
  <dd><%= @routing_list.delivery_date %></dd>

  <dt>Delivery shift:</dt>
  <dd><%= @routing_list.delivery_shift %></dd>

  <dt>Driver:</dt>
  <dd><%= @routing_list.driver_name %></dd>

</dl>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Delivery time</th>
      <th>Delivery address</th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @routing_list.routing_steps) do |routing_step| %>
        <td><%= routing_step.delivery_time %></td>
        <td><%= routing_step.routing_address %></td>
    <% end %>
    </tbody>
  </table>
</div>
