<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Delivery date</th>
      <th>Delivery shift</th>
      <th>Volume</th>
      <th>Handling unit quantity</th>
      <th>Origin point</th>
      <th>Destination point</th>
      <th>Load step</th>
      <th>Unload step</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.number %></td>
        <td><%= order.delivery_date %></td>
        <td><%= order.delivery_shift %></td>
        <td><%= order.volume %></td>
        <td><%= order.handling_unit_quantity %></td>
        <td><%= order.origin_point %></td>
        <td><%= order.destination_point %></td>
        <td><%= order.load_step %></td>
        <td><%= order.unload_step %></td>
        <td><%= link_to 'Show', order, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_order_path(order), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, class: 'btn btn-default' %>
