<div class="page-header">
  <%= link_to orders_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_order_path(@order), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show order</h1>
</div>

<dl class="dl-horizontal">
  <dt>Number:</dt>
  <dd><%= @order.number %></dd>

  <dt>Delivery date:</dt>
  <dd><%= @order.delivery_date %></dd>

  <dt>Delivery shift:</dt>
  <dd><%= @order.delivery_shift %></dd>

  <dt>Volume:</dt>
  <dd><%= @order.volume %></dd>

  <dt>Handling unit quantity:</dt>
  <dd><%= @order.handling_unit_quantity %></dd>

  <dt>Load time:</dt>
  <dd><%= @order.load_time %></dd>

  <dt>Unload time:</dt>
  <dd><%= @order.unload_time %></dd>

</dl>
